body{
    margin: 0px;
    background-color: #c8d9e6;
}

#header{
    display: flex;
    background-color: #f7f2eb;
    align-items: center; 
    gap: 20px; /* Jarak antara foto dan teks */
    justify-content: center; /* Biar semua konten ada di tengah halaman */
    padding: 20px;
    border-radius: 8px;
    margin: 30px;
}

#header img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 50%; 
    border: 3px solid #081f5c; 
}
#header .info{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}
#header h1{
    margin: 0;
    font-size: 28px;
    color: #081f5c;
}
#header p{
    margin: 0;
    font-size: 18px;
    color: #081f5c;
}

main{
    margin:20px;
}

.navbar ul{
    list-style: none; /*hilangkan bullet list*/
    background-color: #081F5C ;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.navbar a{
    color: #fff9f0;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center; 
    font-weight: bold;
}
.navbar a:hover{
    background-color: #0b3d91;
}

section{
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}
#aboutme {
    background-color: #081f5c;
    color: #bad6eb;
    padding: 30px;
    border-radius: 8px;
}

/* Container untuk teks & gambar */
.aboutcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; /* jarak antara teks dan gambar */
}

#aboutme h2{
    color: #edf1f6;
}
#aboutme p{
    line-height: 1.6;
    max-width: 600px; /*batas lebar teks*/
}
.aboutimage img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #fff;
}



@media screen and (max-width: 600px) {
    main{
        width: 100px;
    }
}