body{
    margin: 0px;
    background-color: #c8d9e6;
}

#header{
    display: flex;
    background-color: #f7f2eb;
    align-items: center; 
    gap: 20px; /* Jarak antara foto dan teks */
    justify-content: center; /* Biar semua konten ada di tengah halaman */
    padding: 20px;
    border-radius: 8px;
    margin: 30px;
}

#header img{
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 50%; 
    border: 3px solid #081f5c; 
}
#header .info{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}
#header h1{
    margin: 0;
    font-size: 28px;
    color: #081f5c;
}
#header p{
    margin: 0;
    font-size: 18px;
    color: #081f5c;
}

main{
    margin:20px;
}

.navbar ul{
    list-style: none; /*hilangkan bullet list*/
    background-color: #081F5C ;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.navbar a{
    color: #fff9f0;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center; 
    font-weight: bold;
}
.navbar a:hover{
    background-color: #0b3d91;
}

section#aboutme, section#education, section#hobbies, section#skills, section#contactme{
    margin: 50px;
    padding: 20px;
    border-radius: 8px;
}
#aboutme{
    background-color: #081f5c;
    color: #bad6eb;
    padding: 30px;
    border-radius: 8px;
}

.aboutcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; /* jarak antara teks dan gambar */
}

#aboutme h2{
    color: #edf1f6;
    font-size: 24px;
}
#aboutme p{
    line-height: 1.6;
    max-width: 600px; /*batas lebar teks*/
    font-size: 18px;
}
.aboutimage img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #fff;
}

#education{
    background-color: #eee8df;
    color: #2c365a;
    padding: 30px;
    margin: 40px 0;
    border-radius: 8px;
}
#education h2{
    color: #2c365a;
    margin-bottom: 20px;
    text-align: left;
}
#education ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#education li{
    background-color: #0b3d91;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    color: #edf1f6;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 18px;
}
#education li:hover{
    background-color: #7096d1;
    color: #2c365a;
    transform: translateY(-3px);

}
#hobbies{
    background-color: #334eac;
    color: #edf1f6;
    padding: 30px;
    margin: 40px 0;
    border-radius: 8px;
    font-size: 18px;
}
#hobbies h2{
    margin-bottom: 20px;
    text-align: left;
}
.hobbycontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}
.hobbybox{
    background-color: #0b3d91;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.hobbybox:hover{
    background-color: #edf1f6;
    color: #0b3d91;
    transform: translateY(-5px);
}
.hobbybox img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 10px;
}

#skills{
    background-color:#fff9f0;
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 18px;
}
#skills h2{
    color: #0b3d91;
    margin-bottom: 30px;
}
.skillscontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.skillcard{
    background: #c8d9e6;
    padding: 20px;
    border-radius: 8px;
    width: 220px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}
.skillcard:hover{
    transform: translateY(-5px);
}
.skillcard h3{
    color: #081f5c;
    margin-bottom: 10px;
}
.skillcard p{
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}

#contactme{
    background-color: #3c507d; 
    color: #d9cbc2;
    padding: 40px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    max-width: 600px;
    text-align: center;
    font-size: 18px;
}
#contactme h2{
    color: #ffe1e6; 
    margin-bottom: 20px;
}
#contactme p{
    margin-bottom: 15px;
    font-size: 18px;
    color: #ffe1e6;
}
#contactme ul{
    list-style: none; 
    padding: 0;
}
#contactme li{
    margin: 10px 0;
    font-size: 18px;
}
#contactme a{
    color: #c4bcbd;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
#contactme a:hover{
    color: #ffe1e6;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    main{
        width: 100px;
    }
}